<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.ruiyu.imagepickermultiple">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <application>
        <activity
                android:name=".TransparentActivity"
                android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity android:name="me.iwf.photopicker.PhotoPickerActivity"
                  android:theme="@style/Theme.AppCompat.NoActionBar"
        />

        <activity android:name="me.iwf.photopicker.PhotoPagerActivity"
                  android:theme="@style/Theme.AppCompat.NoActionBar"/>

    </application>
</manifest>
